<nav class="nav">
    <div class="container">
        <a href="/">Downloader</a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/twitter">Twitter</a></li>
            <li><a href="/instagram">Instagram</a></li>
            <li><a href="/facebook">Facebook</a></li>
        </ul>
    </div>
</nav>